<article class="article-post-summary">

  <div class="post-date-box d-none d-md-block">
    <div class="post-date-day">
      29
    </div>
    <div class="post-date-month">
      JUN
    </div>
  </div>

  <div class="post-summary-box">
    <h4 class="post-summary-title">
      <a href="/" style="color:#0d47a1;">
        Solving Azure AD Sign In Failure with Azure Front Door
      </a>
    </h4>

    <p class="post-summary-text">
      Today I am migrating my blog to use Azure Front Door which I have introduced in a previous blog post last year. Everything went well except for the blog admin sign in. I configured my blog to Azure AD as SSO. But after I put the blog behind Azure Front Door with my custom domain, OIDC Redirect URL just blow up.
      OIDC Redirection Failure
      
      When I tried to sign in, the redirection URL suddenly&nbsp;…
    </p>

    <div class="post-summary-tags">
      <a class="post-summary-tag" href="/">
        Azure
      </a>
    </div>
  </div>

</article>




