<article class="article-post-summary">

  <div class="post-date-box d-none d-md-block">
    <div class="post-date-day">
      {{post.pubDateUtc | date: 'dd' }}
    </div>
    <div class="post-date-month">
      {{post.pubDateUtc | date: 'MMM' | uppercase }}
    </div>
  </div>

  <div class="post-summary-box">
    <h4 class="post-summary-title">
      <a [routerLink]="['/Post/Get/',post.id]" style="color:#0d47a1;">
        {{post.title}}
      </a>
    </h4>

    <p class="post-summary-text">
      {{post.contentAbstract}}
    </p>

    <div class="post-summary-tags">
      <a *ngFor="let tag of post.tags" class="post-summary-tag" href="/">
        {{tag.tagName}}
      </a>
    </div>
  </div>

</article>




