<div id="page-content" class="content">
  <div class="container mt-4 mb-5">
    <div class="row">
      <section class="col-lg-9 col-md-12">

        <header class="post-header">
          <h4 class="post-title">
            {{postsdetail.title}}
          </h4>
          <hr class="d-none d-md-block post-header-hr">

          <div class="d-none d-md-block post-publish-info mb-2">
            <strong class="text-muted">
              <time>{{postsdetail.pubDateUtc | date:'M/d/yy'}}</time>
              <span>(Edit on {{postsdetail.createOnUtc | date:'medium'}})</span>
              | China Standard Time
            </strong>
            <span class="badge badge-secondary float-right post-hit-number">{{hitCount}} Reads</span>
          </div>

          <div class="hidden-print">
            <section class="post-cat-tag-info">
              <div class="float-right d-none d-md-block">
                <span class="toptags-list toptags-list-sm">
                  <a *ngFor="let tag of postsdetail.tags" class="post-summary-tag" href="/">
                    {{tag.tagName}}
                  </a>
                </span>
              </div>

              <ul class="d-flex flex-row list-unstyled ul-cat-list-desktop mb-0">
                <li>
                  <a *ngFor="let cat of postsdetail.categories" class="btn btn-sm btn-outline-success" href="/">
                    <mdb-icon fas icon="folder"></mdb-icon>
                    {{cat.displayName}}
                  </a>
                </li>
              </ul>

            </section>
          </div>

          <hr class="post-header-hr">
        </header>

        <section class="post-content clearfix" [innerHTML]="rawPost">
        </section>

        <section class="post-footer clearfix">
          <hr>
          <p>This work is licensed under a
            <a href="http://creativecommons.org/licenses/by-sa/4.0/">
              Creative Commons Attribution-ShareAlike 4.0 International License
            </a>
          </p>
        </section>
        <hr>

        <div class="post-slug-actions clearfix mb-4">
          <div class="float-right">
            <button class="btn btn-round btn-outline-success btn-ratings">
              <mdb-icon far icon="heart"></mdb-icon>
              Like (<span class="likehits-num">0</span>)
            </button>

            <button class="btn btn-round btn-outline-secondary">
              <mdb-icon fas icon="qrcode"></mdb-icon>
              QR Code
            </button>
          </div>
        </div>

      </section>
    </div>
  </div>
</div>