.post-content p {
    font-size: 0.95rem;
    line-height: 1.6rem;
    margin-bottom: 15px;
    word-wrap: break-word;
}

.post-content img {
    cursor: pointer;
    min-height: 4px;
    min-width: 4px;
}
