.post-content p {
    font-size: 0.95rem;
    line-height: 1.6rem;
    margin-bottom: 15px;
    word-wrap: break-word;
}

.post-content img {
    cursor: pointer;
    min-height: 4px;
    min-width: 4px;
}

.post-publish-info {
    font-size: 0.75rem;
}

.post-header-hr {
    margin-bottom: 5px;
}

.post-publish-info {
    font-size: .75rem;
    margin-bottom: 5px;
    padding: 5px;
}

.badge.post-hit-number {
    font-size: 100%;
}

.ul-cat-list-desktop a.btn {
    margin-right: 10px;
}

.toptags-list a {
    background-color: #0d47a1;
    color: #fff;
    display: inline-block;
    font-size: 0.75rem;
    margin-bottom: 10px;
    margin-right: 10px;
    padding: 5px 10px;
}

    .toptags-list a:hover {
        background-color: #4285F4;
        color: #fff;
    }



